ServerName localhost

#LoadModule deflate_module /usr/local/apache2/modules/mod_deflate.so
# LoadModule proxy_module /usr/local/apache2/modules/mod_proxy.so
#LoadModule proxy_module /usr/local/apache2/modules/proxy_http
#LoadModule proxy_fcgi_module /usr/local/apache2/modules/mod_proxy_fcgi.so

#LoadModule deflate_module /etc/apache2/mods-available/deflate
# LoadModule proxy_module /usr/local/apache2/modules/proxy
#LoadModule proxy_module /usr/local/apache2/modules/proxy_http
#LoadModule proxy_fcgi_module /usr/local/apache2/modules/mod_proxy_fcgi.so

<Directory "/var/www/html/">
    AllowOverride All
    Require all granted
</Directory>

#<VirtualHost *:80>
#    ServerName docker.dev
#    ServerAlias www.dev.dev
#    DocumentRoot /var/www/html
#    DirectoryIndex index.php index.html
#
#    <IfModule proxy_module>
#        ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://dbase:9000/var/www/html/$1
#    </IfModule>
#
#    <Directory "/var/www/html">
#        Options +Indexes +FollowSymLinks
#        AllowOverride All
#        Order allow,deny
#        Allow from All
#    </Directory>
#</VirtualHost>

<VirtualHost *:80>
    ServerName domain.tld
    ServerAlias www.domain.tld

#Everything but this is from the symfony website. This is to  make php container work.	
    <IfModule proxy_module>
        ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://dbase:9000/var/www/html/$1
    </IfModule>	

    DocumentRoot /var/www/project/public
    <Directory /var/www/project/public>
        AllowOverride All
        Order Allow,Deny
        Allow from All
    </Directory>

    # uncomment the following lines if you install assets as symlinks
    # or run into problems when compiling LESS/Sass/CoffeeScript assets
    # <Directory /var/www/project>
    #     Options FollowSymlinks
    # </Directory>

    ErrorLog /var/log/apache2/project_error.log
    CustomLog /var/log/apache2/project_access.log combined
</VirtualHost>

